:root {
    --text-color: #656d76;
    --border-color: #d0d7de;
    --hover-text-color: #1F2328;
    --icon-bg-color: #656d76;
    --hover-icon-bg-color: var(--hover-text-color);
    --hover-border-color: #444c56;
}