html.dark {
    /* 自定义深色背景颜色 */
    --dark-bg-color: #22272e;
    --dark-color-primary: #516b91;
    --dark-text-color-regular: #444c56;
    --dark-text-color: #768390;
    --dark-text-hover-color: #d0d7de;
    --dark-border-color: #444c56;
    --dark-hover-border-color: #d0d7de;
    --dark-icon-bg-color: var(--dark-border-color);
    --dark-hover-icon-bg-color: var(--dark-text-hover-color);
    /* element-plus */
    --el-text-color-regular: var(--dark-text-color);
    --el-color-primary: var(--dark-hover-border-color);
}